.blrp-blogroll-link-image {
	width: 16px !important;
	height: 16px !important;
}

.blrp-blogroll-settings-box {
	border: 1px solid #ccc;
	padding: 15px;
	margin-bottom: 20px;
	background-color: #f9f9f9;
	border-radius: 5px;
}
